* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#bg-img {
    background-image: url(/martin-widenka-BRXyrXCMuH4-unsplash.jpg);
    background-blend-mode: lighten;
    height: 60vh;
}

li{
    float: right;
    text-decoration: none;
    display: inline-block;
    padding-right: 20px;
    color: white
}
ul{
    text-decoration: none;
    padding-right: 200px;
}

.h{
    float: left;
    padding-left:300px;
    color: white;
}

.sec{
    padding-top: 40px;
    padding-bottom: 40px;
}

.h2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    color:white;
}
.card1{
    float:left;
    padding-left: 670px;
    padding-top: 25px; 
}
.card2{
    float:right;
    padding-right: 600px;
    padding-top: 25px; 
}
.btn{
    padding: 10px;
    margin-top: 80px;
    border-radius: 30px;
    border-color: white;
    color: green;
    margin-left: 735px;
}
.clr{
    clear: both;
}
.box1{
    width: 30%;
    color:green;
    float: left;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
.box1 h3, p{
    padding-bottom: 10px;
}
.box2 h3, p{
    padding-bottom: 10px;
}
.box2{
    width:30%;
    color: green;
    float: left;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
.btn2{
    border-color: green;
    color: green;
    border-radius: 30px;
    padding: 10px;
}

img{
    width:110px;
    height: 110px;
    margin-top: 10px;
    border-radius: 50%;
}
.sec2 {
    margin-left: 430px;
}
@media screen and (max-width: 600px) {
    .box1, .box2, .card1, .card2 {
      width: 100%;
    }
  }
